{
  "rules": {
    "prefer-const": "warn",
    "no-const-assign": "error",
    "no-var": "warn",
    "eqeqeq": ["error", "smart"],
    "array-callback-return": "warn",
    "quotes": ["warn", "single"],
    "prefer-template": "warn",
    "func-style": ["error", "declaration"],
    "no-loop-func": "warn",
    "prefer-arrow-callback": "error",
    "arrow-spacing": ["error", {"before": true, "after": true}],
    "arrow-body-style": ["error", "as-needed"],  
    "arrow-parens": ["error", "as-needed"],
    "no-duplicate-imports": "error"
  }
}
